@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: bold;
    font-size: 16px;
}

body {
    background-image: repeating-conic-gradient(#ffffff 0% 25%, #f4f4f4 0% 50%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    background-color: #f4f4f4;
}

.crudcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.crudcontainer .newtask{
    background: linear-gradient(0deg, #eaeaea 0%, #fffefe 100%);
    padding: 25px;
    box-shadow: 1px 1px 5px 1px #888888;
    margin-top: 10px;
    border-radius: 5px;
    animation: mymove2 1.5s infinite alternate-reverse;
}

.crudcontainer .addedtask {
    width: 590px;
    height: 50px;
    background: radial-gradient(circle, #eaeaea 0%, #ffffff 100%);
    color: black;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.crudcontainer .addedtask button {
    position: absolute;
    right: 0;
}

.newform {
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #888888;
    color: black;
}

input {
    width: 500px;
    height: 50px;
    border: none;
    border: 1px dotted rgb(161, 161, 161);
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    padding: 0px 10px;
    transition-duration: 0.5s;
    margin: 10px 0px;
    outline: none;
    font-weight: 500;
}

input:focus {
    background-color: rgb(236, 236, 236);
}

button {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: radial-gradient(circle, #000000 0%, #353535 100%);


    color: white;
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(1.05);
}

#scrollBtn {
    border-radius: 50%;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    display: none;
}

.warn {
    color: red;
    font-size: 12px;
    padding: 10px;
}

.crudcontainer h1 {
    color: black;
}

.msg {
    color: black;
    text-align: center;
    font-size: 36px;
    padding: 24px 0;
    font-family: oswald;
}

.newtask span {
    color: green;
    font-size: 16px;
    display: inline-block;
    width: 20px;
}

  @keyframes mymove2 {
    0%   {transform: scale(1.01);}
    100%  {transform: scale(1);}
  }